<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script>
      let companies = [
        {
          Company: 'Google',
          CEO: 'Sundar Pichai',
        },
        {
          Company: 'Rakuten',
          CEO: 'Mikitani Hiroshi',
        },
        {
          Company: 'Alibaba',
          CEO: 'Jack Ma',
        },
      ];
      console.log(companies);
    </script>
  </head>
  <body></body>
</html>
